<!doctype html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SignalVision</title>
    {{>layout/common_css}}
</head>
<body>
<div class="main">
    <ul>
        <li>
            <div class="type_bg">
                <div class="type_guide">
                    <div class="fl">
                        <div class="title"><i class="xi-mail-o"></i><p>메일현황</p></div>
                    </div>
                    <div class="fr">
                        <div class="btn_01 type_bgc_01">더 보기</div>
                    </div>
                </div>
                <div class="main_mail">
                    <div class="btn">
                        <a class="type_bgc_02">메일쓰기</a>
                        <a class="type_bgc_01">내게쓰기</a>
                    </div>
                    <div class="all">
                        <div class="li">
                            <p class="tit">전체 사용량</p>
                            <div class="fr">
                                <div class="line"><span style="width: 20%;"></span></div>
                                <p class="txt"><span>217.3 MB</span> / 2.0 GB</p>
                            </div>
                        </div>
                        <div class="li">
                            <p class="tit">전체 메일 건수</p>
                            <div class="fr">
                                <div class="number">999+건</div>
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <ul>
                            <li>
                                <div class="ih"><i class="xi-mail-o"></i></div>
                                <div class="it"><p>안읽음</p></div>
                                <div class="ib"><p>999+</p></div>
                            </li>
                            <li>
                                <div class="ih"><i class="xi-star-o"></i></div>
                                <div class="it"><p>중요</p></div>
                                <div class="ib"><p>0</p></div>
                            </li>
                            <li>
                                <div class="ih"><i class="xi-lock-o"></i></div>
                                <div class="it"><p>보호메일</p></div>
                                <div class="ib"><p>0</p></div>
                            </li>
                            <li>
                                <div class="ih"><i class="xi-file-o"></i></div>
                                <div class="it"><p>임시</p></div>
                                <div class="ib"><p>0</p></div>
                            </li>
                            <li>
                                <div class="ih"><i class="xi-attachment"></i></div>
                                <div class="it"><p>첨부</p></div>
                                <div class="ib"><p>737</p></div>
                            </li>
                        </ul>
                    </div>
                    <div class="banner"></div>
                </div>
            </div>
        </li>
        <li>
            <div class="type_bg">
                <div class="type_guide">
                    <div class="fl">
                        <div class="title"><i class="xi-comment-o"></i><p>받은메일</p></div>
                    </div>
                    <div class="fr">
                        <div class="btn_01 type_bgc_01">더 보기</div>
                    </div>
                </div>
                <div class="main_box">
                    <div class="type_table_01">
                        <table>
                            <thead>
                            <tr>
                                <td width="90">날짜</td>
                                <td width="100">보낸사람</td>
                                <td width="">제목</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><p>2022.12.12</p></td>
                                <td><p>홍길동</p></td>
                                <td><a class="tit">한국과학기술기획평가원</a></td>
                            </tr>
                            <tr>
                                <td><p>2022.12.12</p></td>
                                <td><p>홍길동</p></td>
                                <td><a class="tit">한국과학기술기획평가원</a></td>
                            </tr>
                            <tr>
                                <td><p>2022.12.12</p></td>
                                <td><p>홍길동</p></td>
                                <td><a class="tit">한국과학기술기획평가원</a></td>
                            </tr>
                            <tr>
                                <td><p>2022.12.12</p></td>
                                <td><p>홍길동</p></td>
                                <td><a class="tit">한국과학기술기획평가원</a></td>
                            </tr>
                            <tr>
                                <td><p>2022.12.12</p></td>
                                <td><p>홍길동</p></td>
                                <td><a class="tit">한국과학기술기획평가원</a></td>
                            </tr>
                            <tr>
                                <td><p>2022.12.12</p></td>
                                <td><p>홍길동</p></td>
                                <td><a class="tit">한국과학기술기획평가원</a></td>
                            </tr>
                            <tr>
                                <td><p>2022.12.12</p></td>
                                <td><p>홍길동</p></td>
                                <td><a class="tit">한국과학기술기획평가원</a></td>
                            </tr>
                            <tr>
                                <td><p>2022.12.12</p></td>
                                <td><p>홍길동</p></td>
                                <td><a class="tit">한국과학기술기획평가원</a></td>
                            </tr>
                            <tr>
                                <td><p>2022.12.12</p></td>
                                <td><p>홍길동</p></td>
                                <td><a class="tit">한국과학기술기획평가원</a></td>
                            </tr>
                            <tr>
                                <td><p>2022.12.12</p></td>
                                <td><p>홍길동</p></td>
                                <td><a class="tit">한국과학기술기획평가원</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="type_bg">
                <div class="type_guide">
                    <div class="fl">
                        <div class="title"><i class="xi-message-o"></i><p>보낸메일</p></div>
                    </div>
                    <div class="fr">
                        <div class="btn_01 type_bgc_01">더 보기</div>
                    </div>
                </div>
                <div class="main_box">
                    <div class="type_table_01">
                        <table>
                            <thead>
                            <tr>
                                <td width="90">날짜</td>
                                <td width="100">받는사람</td>
                                <td width="">제목</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><p>2022.12.12</p></td>
                                <td><p>홍길동</p></td>
                                <td><a class="tit">한국과학기술기획평가원</a></td>
                            </tr>
                            <tr>
                                <td><p>2022.12.12</p></td>
                                <td><p>홍길동</p></td>
                                <td><a class="tit">한국과학기술기획평가원</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="type_bg">
                <div class="type_guide">
                    <div class="fl">
                        <div class="title"><i class="xi-calendar-list"></i><p>일정</p></div>
                    </div>
                    <div class="fr">
                        <div class="btn_01 type_bgc_02">일정등록</div>
                    </div>
                </div>
                <div class="main_calendar">
                    <div class="head">
                        <p><font>2020</font>년 <font>07</font>월</p>
                        <i class="xi-angle-right-thin"></i>
                        <i class="xi-angle-left-thin"></i>
                    </div>
                    <div class="body">
                        <ul class="top">
                            <li>월</li>
                            <li>화</li>
                            <li>수</li>
                            <li>목</li>
                            <li>금</li>
                            <li class="sat">토</li>
                            <li class="sun">일</li>
                        </ul>
                        <ul class="bottom">
                            <li><p></p></li>
                            <li><p></p></li>
                            <li><p>1</p></li>
                            <li><p>2</p></li>
                            <li><p>3</p></li>
                            <li class="sat"><p>4</p></li>
                            <li class="sun"><p>5</p></li>

                            <li><p>6</p></li>
                            <li><p>7</p></li>
                            <li><p>8</p></li>
                            <li><p>9</p></li>
                            <li><p>10</p></li>
                            <li class="sat"><p>11</p></li>
                            <li class="sun"><p>12</p></li>

                            <li><p>13</p></li>
                            <li><p>14</p></li>
                            <li><p>15</p></li>
                            <li><p>16</p></li>
                            <li><p>17</p></li>
                            <li class="sat"><p>18</p></li>
                            <li class="sun"><p>19</p></li>

                            <li><p>20</p></li>
                            <li><p>21</p></li>
                            <li><p>22</p></li>
                            <li><p>23</p></li>
                            <li><p>24</p></li>
                            <li class="sat"><p>25</p></li>
                            <li class="sun"><p>26</p></li>

                            <li><p>27</p></li>
                            <li><p>28</p></li>
                            <li><p>29</p></li>
                            <li><p>30</p></li>
                            <li><p>31</p></li>
                            <li class="sat"><p></p></li>
                            <li class="sun"><p></p></li>
                        </ul>
                        <div class="today"><p>오늘</p></div>
                        <div class="hadan"></div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="type_bg">
                <div class="type_guide">
                    <div class="fl">
                        <div class="title"><i class="xi-bell-o"></i><p>공지사항</p></div>
                    </div>
                    <div class="fr">
                        <div class="btn_01 type_bgc_01">더 보기</div>
                    </div>
                </div>
                <div class="main_box">
                    <div class="type_table_01">
                        <table>
                            <thead>
                            <tr>
                                <td width="90">날짜</td>
                                <td width="100">작성자</td>
                                <td width="">제목</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="3"><p>공지된 게시물이 없습니다.</p></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="type_bg">
                <div class="type_guide">
                    <div class="fl">
                        <div class="title"><i class="xi-power-off"></i><p>로그인 이력</p></div>
                    </div>
                    <div class="fr">
                        <div class="btn_01 type_bgc_01">더 보기</div>
                    </div>
                </div>
                <div class="main_box">
                    <div class="type_table_01">
                        <table>
                            <thead>
                            <tr>
                                <td width="90">로그인</td>
                                <td width="100">iP주소</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><p>2022-12-12 11:45:45</p></td>
                                <td><p>192.168.31.1</p></td>
                            </tr>
                            <tr>
                                <td><p>2022-12-12 11:45:45</p></td>
                                <td><p>192.168.31.1</p></td>
                            </tr>
                            <tr>
                                <td><p>2022-12-12 11:45:45</p></td>
                                <td><p>192.168.31.1</p></td>
                            </tr>
                            <tr>
                                <td><p>2022-12-12 11:45:45</p></td>
                                <td><p>192.168.31.1</p></td>
                            </tr>
                            <tr>
                                <td><p>2022-12-12 11:45:45</p></td>
                                <td><p>192.168.31.1</p></td>
                            </tr>
                            <tr>
                                <td><p>2022-12-12 11:45:45</p></td>
                                <td><p>192.168.31.1</p></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<form id="form_signalVision" name="f" autocomplete="off">
    아이디:<input type="text" name="id" value=""><br>
    비밀번호:<input type="password" id="pw" name="pw" value="">
    <input type="hidden" name="status" value="0">
    <input type="hidden" name="m_ip" id="m_ip" value="">
    <input type="button" onclick="do_signUp();" value="회원가입">
    <input type="button" onclick="do_signIn();" value="로그인">
    <input type="button" onclick="getIP();" value="IP 확인">
    <input type="button" onclick="getControllInfoData();" value="데이터 가져오기">
    <input type="button" onclick="do_alram();" value="알람 울리기">
</form>

<div class="list-wrapper" style="padding: 0">
</div>
<div id="div_page" class="d-flex text-center justify-content-center">

</div>
<div id="pagination-container" style="font-size: 12px; margin-top: 20px;"></div>

<!-- jQuery CDN -->
<script src="js/jquery-3.5.1.min.js"></script>
<!-- SHA256 -->
<script src="js/sha256.js"></script>
<!-- Pagination -->
<script src="js/jquery.simplePagination.js"></script>


<script type="text/javascript">
    let page = 1;
    let no = 8;

    function do_signUp(){
        let data = new FormData($('#form_signalVision')[0]);
        for (let key of data.keys()) {
            console.log(key, ":", data.get(key));
        }
        $.ajax({
            contentType : false,
            processData : false,
            url : '/signUp',
            data : data,
            type : 'post',
            success : function(res){
                console.log(res);
            }

        })
    }

    function do_signIn(){
        //로그인 요청하는 IP 주소 가져오기
        //getIP();
        $.ajaxSetup({ async: false });
        $.getJSON("http://jsonip.com?callback=?", function (getip) {
            $('#m_ip').val(getip.ip);
            requestSignIn();
        });
    }

    function requestSignIn(){
        let data = new FormData($('#form_signalVision')[0]);
        for (let key of data.keys()) {
            console.log(key, ":", data.get(key));
        }
        //data.set("pw",sha256($('#pw').val()));
        //console.log(sha256($('#pw').val()));
        $.ajax({
            contentType : false,
            processData : false,
            url : '/signIn',
            data : data,
            type : 'post',
            success : function(res){
                console.log(res);
            }
        });
    }

    function getIP(json) {
        $(function() {
            $.getJSON("http://jsonip.com?callback=?", function (data) {
                $('#m_ip').val(data.ip);
                console.log(data.ip);
            });
        });
    }

    function getControllInfoData(){
        let data = new FormData($('#form_signalVision')[0]);
        //data.set("pw",sha256($('#pw').val()));
        //console.log(sha256($('#pw').val()));
        $.ajax({
            contentType : false,
            processData : false,
            url : '/getControlData',
            data : data,
            dataType: 'json',
            type : 'post',
            success : function(res){
                //init
                $('.list-wrapper').empty();

                let result = res;
                console.log(result);
                console.log(result.result);
                console.log(result.msg);
                console.log(result.dataList);
                let infoData  = result.dataList;
                console.log(infoData);
                for(let i=0;i<infoData.length;i++){
                    $('.list-wrapper').append('<div class="list-item">'+infoData[i].info+'</div>')
                }
                doPaging();
            }
        });
    }

    function doPaging(){
        let items = $(".list-wrapper .list-item");
        // console.log(items);
        let numItems = items.length;
        // console.log(numItems);
        let perPage = 8;

        items.slice(perPage).hide();

        $('#pagination-container').pagination({
            items: numItems,
            itemsOnPage: perPage,
            currentPage : page,
            prevText: "<",
            nextText: ">",
            displayedPages : 4,
            onPageClick: function (pageNumber) {
                // console.log(pageNumber);
                let showFrom = perPage * (pageNumber - 1);
                let showTo = showFrom + perPage;
                items.hide().slice(showFrom, showTo).show();

                page = pageNumber;
                // getData();
                //pageMoveGetData();

            }
        });
    }

    function do_alram(){
        let data = new FormData($('#form_busan')[0]);
        $.ajax({
            contentType : false,
            processData : false,
            url : '/insertData',
            data : data,
            type : 'post',
            success : function(res){
                console.log(res);
            }

        })
    }


    function do_chulgo(){
        let data = new FormData($('#form_busan')[0]);
        data.set('status','9');
        $.ajax({
            contentType : false,
            processData : false,
            url : '/chulgo',
            data : data,
            type : 'post',
            success : function(res){
                console.log(res);
            }

        })
    }

    function do_ipgoList(){
        let data = new FormData($('#form_busan')[0]);
        $.ajax({
            contentType : false,
            processData : false,
            url : '/ipgoList',
            data : data,
            type : 'post',
            success : function(res){
                console.log(res);
            }
        })
    }

    function do_chulgoList(){
        let data = new FormData($('#form_busan')[0]);
        $.ajax({
            contentType : false,
            processData : false,
            url : '/chulgoList',
            data : data,
            type : 'post',
            success : function(res){
                console.log(res);
            }
        })
    }
</script>
</body>
</html>